body {
    background-color: black;
    color: white;
    font-family: "Raleway", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

/*===table===*/
#placeholder {
    padding-right: 5px;
}
table {
    margin-top: 50px;
}



/*input {
    background-color: black;
    border: 1px solid #333;
    display: inline-block;
    font-size: 17px;
    width: 100%;
    color: white;
}*/

/*===sidebar===*/
#sidebar {
    float: right;
    width: 280;
    padding: 25px;
}

/*====Span===*/
/*span {
    width: 100px;
    align-self: auto;
    vertical-align: left;
    margin: 60px;
}
.spacer {
    margin: 50px;
    vertical-align: left;
}

.title-spacer {
    margin: 100px;
}*/
/*===a href===*/
a {
    color: red;
}
/*===Inputs==*/
#command_line {

    size: 50px;
    color: black;
}

/*#search {
    color: black;
}*/

#song-searched {
    margin-right: 280px;
    width: 850px;
    padding: 10px;
    border: 5px solid gray;
    height: 160px;
}
/*===img===*/
#icon {
    float: right;
}
/*===Footer===*/
#footer{
	bottom:0;
	color: #696969;
	position: fixed;
	margin: 20px 10px;
    clear: both;
}

/*===table===*/
td,th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 2px;
}
th {
    display: none;
}

/*===Pagination===*/
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination-sm > td > a,
.pagination-sm > td > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.pagination-sm > td:first-child > a,
.pagination-sm > td:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.pagination-sm > td:last-child > a,
.pagination-sm > td:last-child > span {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
